<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->


    <link href="/css/doctors_admin.css" rel="stylesheet">

    <title> profile </title>


</head>


<body class="edit-window">
    <div class="edit2-box">
        <div class="title2-edit"> Add Radiologist</div>



        <div class="edit-box2">
            <form class="txt-boxes">
                <label>Name:</label>
                <input class="input-box" type="text" id="name" name="name">
                <label>ID:</label>
                <input class="input-box" type="number" id="ID" name="ID">

                <label>Adress:</label>
                <input type="text" class="input-box">

                <label>email:</label>
                <input type="email" class="input-box">
                <label>Start-Shift:</label>
                <input class="input-box" type="time" id="start" name="start">
                <label>End-Shift:</label>
                <input class="input-box" type="time" id="end" name="end">
                <label>Sex:</label>
                <div>
                    <input type="radio" id="male" name="sex" value="male">
                    <label for="male"> <img src="/images/Dr icon.png  " alt="Logo 1" class="logo"></label>
                    <input type="radio" id="female" name="sex" value="female">
                    <label for="female"> <img src="/images/drr.png  " alt="Logo 1" class="logo"></label>
                </div>
                <label for="text">Age:</label>
                <input type="text" class="input-box">

                <label for=instagram">Specialaization:</label>
                <input class="input-box">
                <label for=instagram">salary:</label>
                <input class="input-box">
                <label> photo:</label>
                <input type="file" id="image-input" accept="image/*">
                <button class="ADD-btn2"> Add</button>
            </form>



        </div>
    </div>



    <script src="javascript.js"></script>
</body>



</html>