<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->


    <link href="/css/doctors_admin.css" rel="stylesheet">

    <title> profile </title>


</head>


<body class="edit-window">
    <div class="edit-box">
        <div class="title-edit"> Add Doctor</div>

        <div class="edit-box2">
            <form class="txt-boxes" method="POST" enctype="multipart/form-data" action="/add_doctor">
                <label>Name:</label>
                <input class="input-box" type="text" id="name" name="name"  required>
                <label>password:</label>
                <input class="input-box" type="text" id="password" name="password"  required>

                <label>Address:</label>
                <input type="text" class="input-box" id="address" name="address" required>

                <label>email:</label>
                <input type="email" class="input-box" id="email" name="email"  required>
                <label>Asistant Name:</label>
                <input class="input-box" type="text" id="assistant_name" name="assistant_name"  required>
                <label>Start-Shift:</label>
                <input class="input-box" type="time" id="start_shift" name="start_shift"  required>
                <label>End-Shift:</label>
                <input class="input-box" type="time" id="end_shift" name="end_shift"  required>

                <label>DR-Room:</label>
                <input class="input-box" type="text" id="room_no" name="room_no"  required>
                <label>Sex:</label>
                <div>
                    <input type="radio" id="male" name="sex" value="male">
                    <label for="male"> <img src="/images/Dr icon.png  " alt="Logo 1" class="logo"></label>
                    <input type="radio" id="female" name="sex" value="female">
                    <label for="female"> <img src="/images/drr.png  " alt="Logo 1" class="logo"></label>
                </div>
                <label for="text">Age:</label>
                <input type="text" class="input-box" id="age" name="age">

                <label for=specialazation">Specialaization:</label>
                <input class="input-box" id="specialazation" name="specialazation">
                <label for="salary">salary:</label>
                <input class="input-box" id="salary" name="salary">
                <label for="phone_no">Phone Number:</label>
                <input class="input-box" id="phone_no" name="phone_no">
                <label> photo:</label>
                <input type="file" id="image-input" accept="image/*" name="picture" id = "picture">
                <button class="edit-btn2"> Add</button>
            </form>



        </div>
    </div>



    <script src="javascript.js"></script>
</body>



</html>
