<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan</title>
    <link rel="stylesheet" href="/css/patient_report.css">
</head>

<body>
    <div class="top-side">
        <span>Scan</span>
    </div>
    <div class="left">
        <div>form1</div>
    </div>
</body>

</html>