<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="/css/profile.css" rel="stylesheet">

  <title> Edit Your Info </title>
</head>

<body class="edit-window">


  <div class="edit-box">
    <div class="title-edit">Edit your Info Here!</div>
    <div id="errMessage">
      <% if(messages.success_msg) { %>
        <p>
          <%= messages.success_msg %>
        </p>
        <% } %>
    </div>

    <div class="edit-box2">

      <form class="txt-boxes" method="POST" action="/edit">

        <label for="name">Name:</label>
        <input type="text" id="name" name="fname" placeholder="Enter your new name">

        <label>Address:</label>
        <input type="text" name="address" placeholder="Enter your new Address">

        <label for="text">email</label>
        <input type="email" name="email" placeholder="Enter your new email">
        <label for="name">Facebook:</label>
        <input type="text" name="facebook" placeholder="Enter your new  account">

        <label for="text">github:</label>
        <input type="text" name="github" placeholder="Enter your new  account">

        <label for=instagram">instagram:</label>
        <input name="instgram" placeholder="Enter your new  account">
        <label for=instagram">linkedin:</label>
        <input name="linkedin" placeholder="Enter your new account">
        <label> photo:</label>
        <input name="picture" type="file" id="image-input" accept="image/*">
        <button class="edit-btn2" id="edit-btn2"> Edit</button>
      </form>
      <img class="img-edit" src="/images/edit.png" width="280px" height="340">

    </div>
  </div>

  <script src="/css/profile.js">

  </script>

</body>

</html>