<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup Form</title>
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <div class="top-side">
        <span>Forms & Complains</span>
        <button id="form2" class="reply">Reply to</button>
    </div>
    <div class="left">
        <% forms.forEach(form => { %>
            <% if (!(form.reply)) { %>
                <div>
                    <p class="left-item">From: <span class="left-item-span"><%= form.user_email %></span></p>
                    <p class="left-item">About: <span class="left-item-span"><%= form.about %></span></p>
                    <p class="left-item">Body: <span class="left-item-span"><%= form.body %></span></p>
                </div>
            <% }%> 
        <% }) %> 
    </div>

    <div id="replypopup" class="reply-popup">
        <div class="rclose-btn" onclick="closePopup()">&times;</div>
        <div class="rform">
            <form id="replyForm" class="rform-element" method="POST" action="/forms">
                <div class="rform-element">
                    <label for="remail">Reply to:</label>
                    <input type="text" id="remail" name="remail" placeholder="write email you replying to" required>
                </div>
                <div class="rform-element">
                    <textarea class="rform-text" id="write" name="write" placeholder="Write your reply here" required></textarea>
                </div>
                <div class="rform-element">
                    <button type="submit" id="send">Send</button>
                </div>
            </form>
        </div>
    </div>
    

    <script src="/css/forms.js"></script>
</body>

</html>