<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup Form</title>
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <div class="top-side">
        <span>Messages:</span>
    </div>
    <div class="left">
        <% replies.forEach(form=> { %>
            <div>
                <p class="left-item">About: <span class="left-item-span">
                        <%= form.about %>
                    </span></p>
                <p class="left-item">Body: <span class="left-item-span">
                        <%= form.body %>
                    </span></p>
                <p class="left-item">Reply: <span class="left-item-span">
                        <%= form.reply %>
                    </span></p>
            </div>
            <% }) %>
    </div>


</body>

</html>