<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan</title>
    <link rel="stylesheet" href="/css/patient_report.css">
</head>

<body>
    <div class="top-side">
        <span>Scan Images</span>
    </div>
    <div class="left"> 
        <% if (scanPics && scanPics.length > 0) { %>
            <% scanPics.forEach(function(pic) { %>
                <% pic = pic.replace(/\\/g, '/'); %>
                <% pic = pic.replace('public', ''); %>
                <div>
                    <img src="<%= pic %>" class="scan-image" alt="Scan Image">
                </div>
            <% }); %>
        <% } else { %>
            <p>No images available</p>
        <% } %>
    </div>
</body>

</html>
