<!DOCTYPE html>
<html>

<head>
    <title>ProHealth</title>
    <link rel="stylesheet" href="/css/visitors.css">

</head>

<body>
    <div class="top-box">
        <div class="about-us">
            <div class="navbar">
                <div class="logo"> <a href="#">ProHealth</a></div>
                <ul>
                    <li><a href="visitor page.html">Home</a></li>
                    <li><a href="visitor page.html">Contact Us</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li>
                        <p id="or">or</p>
                    </li>
                    <li><a href="/login">login</a></li>
                </ul>
            </div>

            <div class="words">
                <h1 id="about-title">More Than 25 Years of World-Class Service</h1>
                <p class="text">ProHealth is the leading provider of diagnostic imaging in Egypt. We integrate medical
                    experience with state-of-the-art technology to create a world-class experience for our customers.
                </p>
            </div>
        </div>
        <img src="images/about us.jpg" class="about-img">
    </div>

    <div class="bottom-box">
        <div class="other-boxes">
            <h1 id="titles">Diagnostic Services</h1>
            <div class="Services">
                <div class="container">
                    <div class="slider-wrapper">
                        <button id="prev-slide" class="slide-button material-symbols-rounded"><img
                                src="images/arrow.png" class="rarrow"></button>
                        <div class="image-list">
                            <img src="images/CT.png" class="image-item">
                            <img src="images/DEXA.png" class="image-item">
                            <img src="images/Digital mammography.png" class="image-item">
                            <img src="images/Digital X-ray.png" class="image-item">
                            <img src="images/Doppler.png" class="image-item">
                            <img src="images/Dual energy ct.png" class="image-item">
                            <img src="images/Echocardiography.png" class="image-item">
                            <img src="images/MRI.png" class="image-item">
                            <img src="images/nucleur and molecular.png" class="image-item">
                            <img src="images/ultrasound.png" class="image-item">
                        </div>
                        <button id="next-slide" class="slide-button material-symbols-rounded"><img
                                src="images/arrow.png" class="larrow"></button>
                    </div>
                </div>
            </div>

            <h1 id="titles">Examinations</h1>
            <div class="Services">
                <div class="container">
                    <div class="slider-wrapper">
                        <button id="prev-slide" class="slide-button material-symbols-rounded"><img
                                src="images/arrow.png" class="rarrow"></button>
                        <div class="image-list">
                            <img src="images/img1.png" class="image-item">
                            <img src="images/img2.png" class="image-item">
                            <img src="images/img3.png" class="image-item">
                            <img src="images/img4png.png" class="image-item">
                            <img src="images/img5.png" class="image-item">
                            <img src="images/img6.png" class="image-item">
                            <img src="images/img7.png" class="image-item">
                            <img src="images/img8.png" class="image-item">
                            <img src="images/img9.png" class="image-item">
                            <img src="images/img10.png" class="image-item">
                        </div>
                        <button id="next-slide" class="slide-button material-symbols-rounded"><img
                                src="images/arrow.png" class="larrow"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-box">
            <div><img src="images/sticker1.png" class="stickers"></div>
            <div><img src="images/sticker2.png" class="stickers"></div>
            <div><img src="images/sticker3.png" class="stickers"></div>
            <div><img src="images/sticker4.png" class="stickers"></div>
        </div>
    </div>

    <div class="footer">
        <div class="end">
            <div class="contact-us">
                <p class="contact-word">Contact Us:</p>
            </div>
            <div class="numbers">
                <p>0100618722</p>
                <p>0122550503</p>
                <p>0156394852</p>
            </div>

            <div>
                <p class="branches-word">Our branches:</p>
            </div>
            <div class="branches">
                <p>El DOkki Branch</p>
                <p>Nasr City Branch</p>
                <p>Arkan Plaza Branch</p>
            </div>

        </div>

    </div>
</body>

</html>