body {
    background: linear-gradient(35deg, #2385a8 0%, #AEDBEE 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}

.container {
    background-color: #eeeeee;
    margin-left: 45px;
    margin-top: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
    height: 650px;
    width: 1300px;
    border-radius: 15px;
}


.dr_img {
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 15px;


}

.radiologist_img {
    margin-left: 80px;
    margin-top: 50px;
    border-radius: 15px;


}

.dr_table {

    background: #eeeeee;
    width: 600px;
    height: 300px;
    position: absolute;
    /* Set text position to absolute */
    top: 100px;
    /* Adjust top position */
    left: 700px;
    border-radius: 50px;

}

.radiologist_table {

    background: #eeeeee;
    width: 600px;
    height: 300px;
    position: absolute;
    /* Set text position to absolute */
    top: 100px;
    /* Adjust top position */
    left: 720px;
    border-radius: 50px;

}




.profile_photo {
    border-radius: 150px;
    margin-top: 10px;
}

.close_btn {
    margin-left: 400px;
    position: absolute;
    margin-top: 5px;
    font-weight: 700;
    font-size: xx-large;
    height: 50px;
    width: 50px;
    color: #f8f9f9;
    cursor: pointer;

}

.line {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    /* Adjust the width as needed */
    height: 2px;
    /* Adjust the height as needed */
    background-color: #ffffff;
    /* Color of the line */
    position: relative;
}

.info {
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 4px 4px rgba(239, 252, 255, 0.5);
    margin-left: 30px;
    height: 35px;
    font-weight: 300;
    width: auto;

}

.info-ii {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.editable-text {
    border: none;
    cursor: pointer;
    outline: none;
    resize: none;
    font-family: inherit;
    text-shadow: none;
    color: #e9ebeb;
    font-weight: 100;
    margin-left: 12px;
    font-size: 18px;
    border-radius: 15px;
    border-color: #ffffff;

}

.editable-text {
    cursor: pointer;
    padding: 2px 5px;
    border: 1px solid transparent;
}

.editable-text:hover {
    border: 1px solid #ccc;
}

.name {
    font-size: 25px;
    color: #ffffff;
    text-shadow: 2px 4px 4px rgba(239, 252, 255, 0.5);
    margin-top: 6px;

}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    z-index: 9999;
    /* Ensure the popup appears on top of other elements */
    backdrop-filter: blur(4px);
}

/* Styles for the popup content */
.popup-content {
    position: relative;
    max-width: 400px;
    margin: 15px auto;
    /* Adjust the top and bottom margins to center the popup vertically */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    height: 620px;
    width: 500px;
    /* background: linear-gradient(to right, #315772, #9ec7e3); */
    background: linear-gradient(35deg, #2385a8 0%, #AEDBEE 100%);
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f8f9f9;
}

#inputText {
    width: auto;
}

.container_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.btn {
    margin-top: 30px;
    margin-left: 150px;
    width: 80px;
    height: 50px;
    background-color: #ffffff;
    color: #28565f;
    border-radius: 15px;
    font-size: 15px;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 6px rgba(46, 96, 109, 0.1);
}

.btn:hover {
    background-color: #c8d6de;
    transform: translateY(-5px);
}

.container-n {
    position: absolute;
    /* Set text position to absolute */
    top: 100px;
    /* Adjust top position */
    left: 500px;
    width: 800px;
    height: 300px;
    justify-content: space-evenly;
    border: 0px solid #735fa0;
    border-radius: 30px;
}


.navbar {
    position: relative;
    width: 90%;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 8px;

    justify-content: space-evenly;
    border-bottom: 3px double #4f80a0;
    border-radius: 15px;
    overflow: hidden;
}



/* CSS for the section with two horizontally divided parts */
.bars {
    position: relative;
    left: 30px;
    width: 92%;
    /* Half of the screen width */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    /* Adjust according to the height of the navbar */
    overflow-y: auto;
    display: none;
}

.bars::-webkit-scrollbar {
    width: 12px;
    /* Set the width of the scrollbar */
}

.bars::-webkit-scrollbar-track {
    background: #ffffff;
    /* Set the background color of the scrollbar track */
}

.bars::-webkit-scrollbar-thumb {
    background: #4f80a0;
    ;
    /* Set the color of the scrollbar thumb */
}

.bars.active {
    display: block;
    /* Show the active section */
}

.bars div {
    width: 95%;
    /* Adjust the width of each part */
    height: 30px;
    color: #4f80a0;
    ;
    background-color: white;
    border: 2px solid #4f80a0;
    ;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bars div:hover {
    filter: brightness(0.8);
}

.logo {
    width: 35px;
    /* Adjust the width of the logo */
    height: 35px;
    /* Adjust the height of the logo */
    margin-left: 10px;
}

.bars div p {
    margin: 0;
    margin-left: 12px;
    flex: 1;
    text-align: left;
    color: #4f80a0;
}

.bars div p:last-child {
    text-align: right;
}

.slideshow-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    left: 350px;
    top: 330px;
    border-radius: 15px;
}


.slideshow {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide 8s infinite;
}

.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 0 0 100%;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    12.5% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    37.5% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    62.5% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    87.5% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

.boxx {
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    left: 50px;
    top: 330px;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 400;
    color: #315772;
    display: flex;
    flex-direction: row;
    justify-content: center;


    background-color: #ffffff;
}

.title {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #315772;
    text-shadow: 2px 2px 4px rgba(152, 195, 205, 0.5);
}

.skill {
    height: 200px;
    width: 200px;
    margin-top: 10px;


}

.outer {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.number {
    font-weight: 600px;
    color: #555;

}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 25px;
    stroke-dasharray: 280;
    stroke-dashoffset: 280;
}

.circle1 {
    animation: 1s anim1 linear forwards;

}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim1 {
    100% {
        stroke-dashoffset: 0;
    }
}

.svg_caption {
    margin-left: 50px;
    margin-top: 10px;

}

.number {
    color: #315772;
}

.Add_btn {
    position: absolute;
    top: -20px;
    left: 550px;
    background-color: #0C96C5;
    height: 35px;
    width: 100px;
    border-radius: 15px;
    color: #f8f9f9;
    transition: 0.3s;
}

.Add_btn:hover {
    background-color: #077da6;
}


.edit-window {
    background: linear-gradient(35deg, #2385a8 0%, #AEDBEE 100%);
    /* background: linear-gradient(to right, #eef8fc, #daebf0, #bcd4ed, #98adc7, #5685be, #316590, #315772); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 23px;
    color: #315772;
    text-shadow: 2px 2px 4px rgba(41, 93, 113, 0.5);


}

.edit-box {
    width: 400px;
    height: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
}

.edit2-box {
    width: 350px;
    height: 620px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
}

.txt-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
}

.edit-btn2 {

    background-color: #fff9f9;
    height: 30px;
    width: 80px;
    border-radius: 15px;
    margin-top: 2px;
    margin-left: 150px;




}

.edit-btn2:hover {
    background-color: #315772;
    color: white;

}

.ADD-btn2 {

    background-color: #fff9f9;
    height: 30px;
    width: 80px;
    border-radius: 15px;
    margin-top: 2px;
    margin-left: 120px;
    transition: 0.3s;
}

.ADD-btn2:hover {
    background-color: #077da6;
    color: white;

}

.title2-edit {
    height: 25px;
    width: 200px;
    position: relative;
    margin-left: 80px;

    font-size: 30px;


}

.title-edit {
    height: 25px;
    width: 250px;
    position: relative;
    margin-left: 150px;

    font-size: 30px;


}

.edit-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-box {
    border-radius: 15px;
    border-width: 1px;
    ;
}