:root {
    --color-dark: #363949;
    --main-color: #0C96C5;
    --light-color: #f6f6f6;
    --light-color2: #ededed;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    height: 100vh;
    color: var(--color-dark);
    display: grid;
    /* grid-template-columns: repeat(2, 50%);
    gap: 140px; */
}

.top-side {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 100px;
    padding-bottom: 0px;
}

.top-side span {
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
}

.left {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 50px;
    padding: 100px;
    padding-top: 60px;
    width: 100%;
    height: 100%;
}

.left div {
    background-color: var(--light-color);
    height: 180px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 15px;
    box-shadow: 0 0 4px 0px #077da66e;
    transition: 0.4s;
}

.left div:hover {
    box-shadow: 0 0 8px 1px #077da66e;
    transform: perspective(200px) translateZ(9px);
}

.reply {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s background-color ease-in;
}

.reply:hover {
    background-color: #077da6;
}


.reply-popup {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 300px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 9999;
    backdrop-filter: blur(4px);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}

.reply-popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.reply-popup .rclose-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 700;
    font-size: xx-large;
    color: #333;
    cursor: pointer;
}

.reply-popup .rform .rform-element {
    margin: 15px 0px;
}

.reply-popup .rform .rform-element label {
    font-size: 14px;
    color: #222;
}

.reply-popup .rform .rform-element input[type="text"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reply-popup .rform .rform-element .rform-text {
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 150px;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reply-popup .rform .rform-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: var(--main-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.left-item {
    font-weight: 600;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}

.left-item-span {
    font-weight: 400;
    font-size: 20px;
}