:root {
    --main-color: #0C96C5;
    --light-color: #f6f6f6;
    --light-color2: #ededed;
}

html {
    min-height: 100%;
}

body {
    margin-top: 0;
    background-image: url("/images/background_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'arial';
    transition: 0.3s;
}

.message {
    color: var(--main-color);
    font-size: 13px;
    margin-top: 130px;
}

.container {
    background-color: white;
    margin-left: 200px;
    margin-top: 92px;
    padding: 40px;
    width: 370px;
    height: calc(75vh - 75px);
    border-radius: 20px;
    position: relative;
}

.container * {
    position: absolute;
    left: 50px;
}

.logo {
    top: 44px;
    font-weight: bold;
    font-size: 25px;
}

.signin-word {
    top: 100px;
    font-weight: bold;
    font-size: 50px;
}

.container form {
    position: unset;
}

/*Username or Email Address label*/
label:first-of-type {
    top: 200px;
}

/*password label */
label:nth-of-type(2) {
    top: 300px;
}

input {
    width: 330px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    background-color: var(--light-color2);
}

input:focus-visible {
    background-color: #0c96c552;
    transition: 0.3s;
}

/*Username input*/
input:first-of-type {
    top: 230px;
}

/*password input*/
input:nth-of-type(2) {
    top: 330px;
}

/* Sign in button */
.login-button {
    left: 145px;
    top: 405px;
    width: 140px;
    height: 45px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.login-button:hover {
    background-color: #077da6;
}

a:first-of-type {
    left: 153px;
    top: 466px;
    text-align: center;
    color: #896cc3;
    font-size: 12px;
}

body {
    font-family: sans-serif, "consolas";
    background-image: url(/images/background_login.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.signUpForm {
    margin-left: 210px;
    margin-top: 20px;
    height: 585px;
    width: 300px;
    background-color: rgb(255, 249, 249, 0.7);
    border-radius: 40px;
    background-color: white;
    padding: 40px;
}

label {
    display: block;
    font-size: 12px;
    color: black;
    margin-bottom: 8px;
    margin-left: 10px;
}

input {
    padding: 5px;
    border-radius: 10px;
    border-width: 0;
    height: 30px;
    width: 260px;
    padding-left: 20px;
}

input[type="submit"] {
    width: 130px;
    height: 40px;
    background-color: var(--main-color);
    color: white;
    padding-left: 5px;
    margin-left: 80px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #077da6;
}

/* 
p {
    color: black;
} */

#ghost {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;

}

#signUp {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 0px;

}

#login {
    font-size: 13px;
    margin-bottom: 10%;
}

#errMessage {
    color: red;
    font-size: 13px;

}