:root {
    --color-dark: #363949;
    --main-color: #0C96C5;
    --light-color: #f6f6f6;
    --light-color2: #ededed;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    height: 100vh;
    color: var(--color-dark);
    display: grid;
}

.top-side {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 100px;
    padding-bottom: 0px;
}

.top-side span {
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
}

.left {
    display: grid;
    padding: 100px;
    padding-top: 60px;
    width: 100%;
    height: 100%;
}

.selectedPic {
    background-color: var(--light-color);
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 4px 0px #077da66e;
    transition: 0.4s;
}

img {
    width: 90%;
    height: 90%;
}

.selectedReport {
    white-space: pre-wrap;
    background-color: var(--light-color);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 4px 0px #077da66e;
    transition: 0.4s;
}